<nav id="navbar">
    <ul class="navbar-options" style="text-align: center;">
        <% if user_signed_in? %>
            <li><a href="/#" style="width:100px;">home</a></li
            ><li><a class="slide-down-menu menu-social" style="width:100px;">social</a>
            <div class="slide-down-options option-social">
                <a href="/#chatrooms/public">chatrooms</a>
                <a>private messages</a>
            </div></li
            ><li><a class="slide-down-menu" style="width:100px;">members</a>
            <div class="slide-down-options option-members">
                <a href="/#users">members list</a>
                <a>friends</a>
            </div></li
            ><li><a class="slide-down-menu" style="width:100px;">guilds</a>
            <div class="slide-down-options option-guilds">
                <a>guilds list</a>
                <a>my guild</a>
            </div></li
            ><li><a class="slide-down-menu" style="padding-left:10px;padding-right:10px;"><%= truncate(current_user.username, length:15) %></a>
            <div class="slide-down-options option-user">
                <a href="/#users/<%= current_user.id %>">see profile</a>
                <%= link_to destroy_user_session_path, method: :delete, class: "navbar-option-link" do %>log out<% end %>
            </div></li>
        <% else %>
            <li class="navbar-option"><%= link_to "Sign in", new_user_session_path, class: "navbar-option-link" %></li>
            <li class="navbar-option"><%= link_to "Sign up", new_user_registration_path, class: "navbar-option-link" %></li>
        <% end %>
    </ul>
</nav>

<script type="text/javascript">
    $(document).on("click", function () {
        $(".slide-down-options").hide();
    });
    $(".slide-down-options").on("click", function (event) {
        event.stopPropagation();
    });
    $(".slide-down-menu").on("click", function (event) {
        if (!$(event.target).next(event.target.nextElementSibling).is(":visible"))
            $(".slide-down-options").hide();
        event.stopPropagation();
        $(event.target).next(event.target.nextElementSibling).slideToggle("fast");
    });
</script>
