<!DOCTYPE html>
<html>
  <head>
    <title>Server</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag 'icon.ico' %>
  </head>

  <body>
	  <div class="container">
      <div>
        <%= render 'layouts/navbar'%>
        <div id="main-body">
          <% flash.each do |type, msg| %>
            <div>
              <%= content_tag :div, msg, class: type %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
