<div id="admin-pannel">
    <div class="set-as-admin">
        <form action="/api/chatrooms/<%= chatroom.id %>/set_admin" type="submit"
            method="post" data-remote="true">
            <label>Type or select a member:</label>
            <input type="text" list="members-list" name="chatroom[user]" autocomplete="off">
            <datalist id="members-list">
                <% $.each(members, function(i) { %>
                <option value="<%= Transcendence.users.get(members[i]).toJSON().username %>"></option>
                <% }); %>
            </datalist>
            <input type="submit" name="members-list" value="Set as admin" class="admin-menu-submit">
            <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
    </div>
    <div class="unset-as-admin">
        <form action="/api/chatrooms/<%= chatroom.id %>/unset_admin" type="submit"
            method="post" data-remote="true">
            <label>Type or select a member:</label>
            <input type="text" list="admin-list" name="chatroom[user]" autocomplete="off">
            <datalist id="admin-list">
                <% $.each(admins, function(i) { %>
                <option value="<%= Transcendence.users.get(admins[i]).toJSON().username %>"></option>
                <% }); %>
            </datalist>
            <input type="submit" name="members-list" value="Demote" class="admin-menu-submit">
            <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
    </div>
    <div class="ban-user">
        <form action="/api/chatrooms/<%= chatroom.id %>/ban_user" type="submit"
            method="post" data-remote="true">
            <label>Type or select a member:</label>
            <input type="text" list="members-list" name="chatroom[user]" autocomplete="off">
            <datalist id="members-list">
                <% $.each(members, function(i) { %>
                <option value="<%= Transcendence.users.get(members[i]).toJSON().username %>"></option>
                <% }); %>
            </datalist>
            <input type="submit" name="members-list" value="Ban user" class="admin-menu-submit">
            <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
    </div>
    <div class="unban-user">
        <form action="/api/chatrooms/<%= chatroom.id %>/unban_user" type="submit"
            method="post" data-remote="true">
            <label>Type or select a member:</label>
            <input type="text" list="banned-list" name="chatroom[user]" autocomplete="off">
            <datalist id="banned-list">
                <% $.each(banned, function(i) { %>
                <option value="<%= Transcendence.users.get(banned[i]).toJSON().username %>"></option>
                <% }); %>
            </datalist>
            <input type="submit" name="members-list" value="Unban user" class="admin-menu-submit">
            <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
    </div>
    <div class="mute-user">
        <form action="/api/chatrooms/<%= chatroom.id %>/mute_user" type="submit"
            method="post" data-remote="true">
            <label>Type or select a member:</label>
            <input type="text" list="members-list" name="chatroom[user]" autocomplete="off">
            <datalist id="members-list">
                <% $.each(members, function(i) { %>
                <option value="<%= Transcendence.users.get(members[i]).toJSON().username %>"></option>
                <% }); %>
            </datalist>
            <input type="submit" name="members-list" value="Mute user" class="admin-menu-submit">
            <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
    </div>
    <div class="unmute-user">
        <form action="/api/chatrooms/<%= chatroom.id %>/unmute_user" type="submit"
            method="post" data-remote="true">
            <label>Type or select a member:</label>
            <input type="text" list="muted-list" name="chatroom[user]" autocomplete="off">
            <datalist id="muted-list">
                <% $.each(muted, function(i) { %>
                <option value="<%= Transcendence.users.get(muted[i]).toJSON().username %>"></option>
                <% }); %>
            </datalist>
            <input type="submit" name="members-list" value="Unmute user" class="admin-menu-submit">
            <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
    </div>
</div>
