<div id="main-chats">
    <button onclick="history.back()">Back to index</button>
    <% if (chatroom.owner == Transcendence.current_user.id || chatroom.admin.includes(Transcendence.current_user.id)) { %>
    | <a href="#chatrooms/<%= chatroom.id %>/admin">Admin pannel</a>
    <% } %>
    <br />
    <div id="chatroom-contents">
        <div id="members-content"></div><div id="room-content">
            <div class="chatroom-title">
                <%= chatroom.name %> (<%= chatroom.chatroom_type %>)
            </div>
            <div id="messages"></div>
            <div id="send_message">
                <form action="/api/chats" accept-charset="UTF-8" data-remote="true" method="post"><input type="hidden"
                        name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                    <table>
                        <tr>
                            <td class="text"><input placeholder="New message..." autocomplete="off" type="text"
                                    class="text-field" id="text-field" required="required" name="chat[message]"></td>
                            <td class="button"><input type="submit" value="Send" class="button-field"
                                    data-disable-with="Send" name="commit"></td>
                        </tr>
                    </table>
                    <input value="<%= Transcendence.current_user.id %>" type="hidden" name="chat[user_id]"
                        id="chat_user_id" />
                    <input as="hidden" type="hidden" value="<%= chatroom.id %>" name="chat[chatroom_id]"
                        id="chat_chatroom_id" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="current_user_id" data-userid="<%= Transcendence.current_user.id %>"></div>
<div class="current_chatroom_id" data-roomid="<%= chatroom.id %>"></div>

<div id="flash-messages"></div>