<div id="main-chats">
    <h1>
        <%= chatroom.name %>
        Created by <%= Transcendence.users.get(chatroom.owner).toJSON().username %>
        Type: <%= chatroom.chatroom_type %>
    </h1>
    <button onclick="history.back()">Back</button>
    <% if (chatroom.owner == Transcendence.current_user.id) { %>
        | <a href="#chatrooms/<%= chatroom.id %>/edit">Edit</a>
        | <a href="#chatrooms/<%= chatroom.id %>/destroy">Destroy</a>
        | <a id="link-to-new-owner">Leave <%= chatroom.name %></a>
    <% } %>
    <br/>
    <% if (chatroom.admin.includes(Transcendence.current_user.id)) { %>
        TEST ADMIN
    <% } %>
    <div id="room-content">
        <div id="messages"></div>
        <div id="send_message">
            <form action="/chats" accept-charset="UTF-8" data-remote="true" method="post">
                <table>
                    <tr>
                        <td class="text"><input placeholder="New message..." autocomplete="off" type="text" class="text-field" id="text-field" required="required"></td>
                        <td class="button"><input type="submit" value="Send" class="button-field" data-disable-with="Send"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
