<form action="/api/chatrooms/<%= chatroom.id %>" accept-charset="UTF-8" method="post" data-remote="true">
    <input type="hidden"name="_method" value="patch">
    <div class="field">
        <input value="<%= chatroom.owner %>" type="hidden" name="chatroom[owner]">
        <label for="chatroom_name">Name</label>
        <input autocomplete="off" type="text" value="<%= chatroom.name %>" name="chatroom[name]">
    </div>
    <div class="field-type">
        <% if (chatroom.chatroom_type == "private") { %>
        <input type="checkbox" value="public" name="chatroom[chatroom_type]">
        <label for="chatroom_Public">Change to public</label>
        <label for="chatroom_password">Change password (leave blank if you don't want to change)</label>
        <input autocomplete="off" type="password" name="chatroom[password]">
        <% } else if (chatroom.chatroom_type == "public") { %>
        <input type="checkbox" value="private" name="chatroom[chatroom_type]">
        <label for="chatroom_Private">Change to private</label>
        <label for="chatroom_password">Password</label>
        <input autocomplete="off" type="password" name="chatroom[password]">
        <% } %>
    </div>
    <input type="submit" name="commit" value="Save" class="btn-save" data-disable-with="Save" />
    <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
</form>

<form action="/api/chatrooms/<%= chatroom.id %>" method="post" data-remote="true">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="commit" value="Destroy">
    <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
</form>

<button onclick='$("#leave-modal").show()'>Leave</button>

<div id="leave-modal" class="modal">
    <div class="modal-content">
        <span id="close" onclick='$("#leave-modal").hide()'>&times;</span><br />
        <div class="modal-header">
            <img class="padlock-image" src="/assets/new_owner.png"><br />
            Select a new owner for this chatroom
        </div>
        <form action="/api/chatrooms/<%= chatroom.id %>/leave" accept-charset="UTF-8"
            method="post" data-remote="true"><input type="hidden" name="_method" value="put">
            <div class="modal-body">
                <input autocomplete="off" placeholder="Enter user name..." type="text"
                    name="chatroom[owner]"><button name="button" type="submit" class="button-password">Submit</button>
                <input value="<%= chatroom.id %>" type="hidden" name="chatroom[chatroom_id]">
                <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
            </div>
        </form>
    </div>
</div>