<div id="edit-panel">
    <div class="header">
        <h1>Edit panel</h1>
        <button onclick="document.location='#chatrooms/<%= chatroom.id %>'">Back to <%= chatroom.name %></button>
    </div>
    <br/>
    <form id="update-chatroom" action="/api/chatrooms/<%= chatroom.id %>" accept-charset="UTF-8" method="post"
        data-remote="true">
        <input type="hidden" name="_method" value="patch">
        <input value="<%= chatroom.owner %>" type="hidden" name="chatroom[owner]">
        Name<br/>
        <input autocomplete="off" type="text" value="<%= chatroom.name %>" name="chatroom[name]">
        <br/>
        <br/>
        <div class="field-type">
            <% if (chatroom.chatroom_type == "private") { %>
            <input type="checkbox" value="public" name="chatroom[chatroom_type]"> Change to public
            <label for="chatroom_password">Change password (leave blank if you don't want to change)</label>
            <input autocomplete="off" type="password" name="chatroom[password]">
            <% } else if (chatroom.chatroom_type == "public") { %>
            <input type="checkbox" value="private" name="chatroom[chatroom_type]" onclick='$("#edit-password-field").toggle();'> Change to private<br/>
            <input id="edit-password-field" autocomplete="off" type="password" name="chatroom[password]" placeholder="Type password...">
            <% } %>
        </div>
        <br/>
        <button type="submit" name="commit" class="edit save" data-disable-with="Save">Save</button>
        <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
    </form>
    <br/>
    <button class="edit destroy" onclick='$("#destroy-modal").show()'>Destroy</button>
    <div id="destroy-modal" class="modal">
        <div class="modal-content">
            <span id="close" onclick='$("#destroy-modal").hide()'>&times;</span><br />
            <div class="modal-header">
                <img class="padlock-image" src="/assets/warning.png"><br/>
                Are you sure you want to destroy this chatroom ?<br/>
                (this action is irreversible)<br/><br/>
            </div>
            <form id="destroy-chatroom" action="/api/chatrooms/<%= chatroom.id %>" method="post" data-remote="true">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                <button type="submit" name="commit" class="edit destroy">Yes</button>
                <button type="button" class="edit leave" onclick='$("#destroy-modal").hide()'>No</button>
            </form>
        </div>
    </div>

    <button class="edit leave" onclick='$("#leave-modal").show()'>Leave</button>
    <div id="leave-modal" class="modal">
        <div class="modal-content">
            <span id="close" onclick='$("#leave-modal").hide()'>&times;</span><br />
            <div class="modal-header">
                <img class="padlock-image" src="/assets/new_owner.png"><br />
                Select a new owner for this chatroom
            </div>
            <form action="/api/chatrooms/<%= chatroom.id %>/leave" accept-charset="UTF-8" method="post"
                data-remote="true"><input type="hidden" name="_method" value="put">
                <div class="modal-body">
                    <input autocomplete="off" placeholder="Enter user name..." type="text"
                        name="chatroom[owner]"><button name="button" type="submit"
                        class="button-password">Submit</button>
                    <input value="<%= chatroom.id %>" type="hidden" name="chatroom[chatroom_id]">
                    <input type="hidden" name="authenticity_token"
                        value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </div>
            </form>
        </div>
    </div>
</div>