<ul class="members-list">
    <li class="member-owner" id="<%= chatroom.owner %>">
        <%= Transcendence.users.get(chatroom.owner).toJSON().username %> (owner)
    </li>
    <div class="member-menu" id="member-menu">
        <a href="/#users/<%= chatroom.owner %>" class="menu-option-link">
            <div class="menu-option">see profile</div>
        </a>
        <form action="/api/private_rooms" method="post" data-remote="true" id="send-pm" class="<%= chatroom.owner %>">
            <button type="submit" class="menu-option">send PM</button>
            <input value="<%= Transcendence.current_user.id %>" type="hidden" name="private_room[user1]">
            <input value="<%= chatroom.owner %>" type="hidden" name="private_room[user2]">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
        <div class="menu-option">defy in Pong game</div>
        <% if (Transcendence.current_user.toJSON().block_list.includes(chatroom.owner)) { %>
            <% var action = "unblock" %>
        <% } else { %>
            <% var action = "block" %>
        <% } %>
        <form action="/api/users/<%= action %>_user" method="post" data-remote="true">
            <input type="hidden" name="_method" value="put">
            <button type="submit" class="menu-option <%= action %>"><%= action %></button>
            <input value="<%= chatroom.owner %>" type="hidden" name="user[id]">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
    </div>
    <% $.each(chatroom.admin, function(i) { %>
    <li class="member-admin" id="<%= chatroom.admin[i] %>">
        <%= Transcendence.users.get(chatroom.admin[i]).toJSON().username %> (admin)
    </li>
    <div class="member-menu" id="member-menu">
        <a href="/#users/<%= chatroom.admin[i] %>" class="menu-option-link">
            <div class="menu-option">see profile</div>
        </a>
        <form action="/api/private_rooms" method="post" data-remote="true" id="send-pm" class="<%= chatroom.admin[i] %>">
            <button type="submit" class="menu-option">send PM</button>
            <input value="<%= Transcendence.current_user.id %>" type="hidden" name="private_room[user1]">
            <input value="<%= chatroom.admin[i] %>" type="hidden" name="private_room[user2]">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
        <div class="menu-option">defy in Pong game</div>
        <% if (Transcendence.current_user.toJSON().block_list.includes(chatroom.admin[i])) { %>
            <% var action = "unblock" %>
        <% } else { %>
            <% var action = "block" %>
        <% } %>
        <form action="/api/users/<%= action %>_user" method="post" data-remote="true">
            <input type="hidden" name="_method" value="put">
            <button type="submit" class="menu-option <%= action %>"><%= action %></button>
            <input value="<%= chatroom.admin[i] %>" type="hidden" name="user[id]">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
    </div>
    <% }) %>
    <% $.each(chatroom.members, function(i) { %>
    <% if (!chatroom.admin.includes(chatroom.members[i])) { %>
        <li class="member-name" id="<%= chatroom.members[i] %>">
            <% if (!chatroom.muted.includes(chatroom.members[i])) { %>
                <%= Transcendence.users.get(chatroom.members[i]).toJSON().username %>
            <% } else { %>
                <span style="color: orange"><%= Transcendence.users.get(chatroom.members[i]).toJSON().username %> (muted)</span>
            <% } %>
        </li>
        <div class="member-menu" id="member-menu">
            <a href="/#users/<%= chatroom.members[i] %>" class="menu-option-link">
                <div class="menu-option">see profile</div>
            </a>
            <form action="/api/private_rooms" method="post" data-remote="true" id="send-pm" class="<%= chatroom.members[i] %>">
                <button type="submit" class="menu-option">send PM</button>
                <input value="<%= Transcendence.current_user.id %>" type="hidden" name="private_room[user1]">
                <input value="<%= chatroom.members[i] %>" type="hidden" name="private_room[user2]">
                <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
            </form>
            <div class="menu-option">defy in Pong game</div>
            <% if (Transcendence.current_user.toJSON().block_list.includes(chatroom.members[i])) { %>
                <% var action = "unblock" %>
            <% } else { %>
                <% var action = "block" %>
            <% } %>
            <form action="/api/users/<%= action %>_user" method="post" data-remote="true">
                <input type="hidden" name="_method" value="put">
                <button type="submit" class="menu-option <%= action %>"><%= action %></button>
                <input value="<%= chatroom.members[i] %>" type="hidden" name="user[id]">
                <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
            </form>
        </div>
    <% } %>
    <% }) %>
</ul>

<div id="panels">
    <table>
        <tr>
            <td class="admin-panel">
                <% if (chatroom.owner == Transcendence.current_user.id || chatroom.admin.includes(Transcendence.current_user.id)) { %>
                    <button onclick="document.location='#chatrooms/<%= chatroom.id %>/admin'">Admin panel</button>
                <% } else { %>
                    <button class="inactive">Admin panel</button>
                <% } %>
            </td>
            <td class="edit-panel">
                <% if (chatroom.owner == Transcendence.current_user.id) { %>
                    <button onclick="document.location='#chatrooms/<%= chatroom.id %>/edit'">Edit panel</button>
                <% } else { %>
                    <button class="inactive">Edit panel</button>
                <% } %>
            </td>
        </tr>
    </table>
</div>