<% $.each(chats, function() { %>
    <p class="<%= Transcendence.current_user.id == this.attributes.user_id ? 'sent' : 'received' %>">
        <span class="message-header">
            <% if (Transcendence.current_user.id != this.attributes.user_id) { %>
                <img class="user-avatar-<%= Transcendence.current_user.id == this.attributes.user_id ? 'sent' : 'received' %>" src="/assets/blank-profile-picture.jpg" />
            <% } %>
            <%= Transcendence.users.get(this.attributes.user_id).toJSON().username %>
            <% if (Transcendence.current_user.id == this.attributes.user_id) { %>
                <img class="user-avatar-<%= Transcendence.current_user.id == this.attributes.user_id ? 'sent' : 'received' %>" src="/assets/blank-profile-picture.jpg" />
            <% } %>
        </span><br/>
        <span class="message-content"><%= this.attributes.message %></span><br/>
        <span class="message-footer"><%= this.attributes.created_at %></span>
    </p>
<% }) %>