<script type="text/javascript">
    var element = document.getElementById('messages');
    element.scrollTop = element.scrollHeight - element.clientHeight;
</script>

<% $.each(chat, function() { %>
<% if (!Transcendence.current_user.toJSON().block_list.includes(this.user_id)) { %>
<table class="<%= Transcendence.current_user.id == this.user_id ? 'sent' : 'received' %>">
    <tr>
        <td class="message-header">
            <% if (Transcendence.current_user.id != this.user_id) { %>
            <img class="user-avatar-<%= Transcendence.current_user.id == this.user_id ? 'sent' : 'received' %>"
                src="/assets/blank-profile-picture.jpg" />
            <% } %>
            <%= Transcendence.users.get(this.user_id).toJSON().username %>
            <% if (Transcendence.current_user.id == this.user_id) { %>
            <img class="user-avatar-<%= Transcendence.current_user.id == this.user_id ? 'sent' : 'received' %>"
                src="/assets/blank-profile-picture.jpg" />
            <% } %>
        </td>
    </tr>
    <tr>
        <td class="message-content"><%= this.message %></td>
    </tr>
    <tr>
        <td class="message-footer"><%= this.created_at %></td>
    </tr>
</table>
<% } else { %>
    <span style="color:black;font-style:italic;">&emsp;You have blocked <%= Transcendence.users.get(this.user_id).toJSON().username %>.</span>
<% } %>
<% }) %>