<script type="text/javascript">
    var element = document.getElementById('messages');
    element.scrollTop = element.scrollHeight - element.clientHeight;
</script>

<% $.each(chats, function() { %>
<table class="<%= Transcendence.current_user.id == this.attributes.user_id ? 'sent' : 'received' %>">
    <tr>
        <td class="message-header">
            <% if (Transcendence.current_user.id != this.attributes.user_id) { %>
            <img class="user-avatar-<%= Transcendence.current_user.id == this.attributes.user_id ? 'sent' : 'received' %>"
                src="/assets/blank-profile-picture.jpg" />
            <% } %>
            <%= Transcendence.users.get(this.attributes.user_id).toJSON().username %>
            <% if (Transcendence.current_user.id == this.attributes.user_id) { %>
            <img class="user-avatar-<%= Transcendence.current_user.id == this.attributes.user_id ? 'sent' : 'received' %>"
                src="/assets/blank-profile-picture.jpg" />
            <% } %>
        </td>
    </tr>
    <tr>
        <td class="message-content"><%= this.attributes.message %></td>
    </tr>
    <tr>
        <td class="message-footer"><%= this.attributes.created_at %></td>
    </tr>
</table>
<% }) %>