<div>
    <ul class="tabs">
        <li><a href="#chatrooms/public">Public chatrooms</a></li>
        <li><a href="#chatrooms/private">Private chatrooms</a></li>
        <li class="active"><a href="#chatrooms/my_chatrooms">My chatrooms</a></li>
    </ul>
    <div class="tabs-content">
        <div class="tab-content active" id="public">
            <table class="tab-content-list">
                <% if (owned.length == 0 && joined.length == 0) { %>
                    <tr>
                        <td>You are not a member of any chatroom !</td>
                    </tr>
                <% } %>
                <% owned.forEach(function(model) { %>
                <tr class="tab-content-list-options" id="chatroom_<%= model.escape('id') %>">
                    <td class="tab-content-list-image">
                        <img style="width: 20px; height: 20px; vertical-align: middle" src="/assets/check.png">
                    </td>
                    <td class="tab-content-list-main" onclick='document.location = "#chatrooms/<%= model.escape(`id`) %>";'>
                        <div class="room"><%= model.escape('name') %> (owned)</div>
                        <div class="owner">Type: <%= model.escape('chatroom_type') %>
                        </div>
                    </td>
                    <td class="tab-content-list-join-unjoin">
                    </td>
                </tr>
                <% }) %>
                <% joined.forEach(function(model) { %>
                <tr class="tab-content-list-options" id="chatroom_<%= model.escape('id') %>">
                    <td class="tab-content-list-image">
                        <img style="width: 20px; height: 20px; vertical-align: middle" src="/assets/check.png">
                    </td>
                    <td class="tab-content-list-main" onclick='document.location = "#chatrooms/<%= model.escape(`id`) %>";'>
                        <div class="room"><%= model.escape('name') %></div>
                        <div class="owner">Owner: <%= Transcendence.users.get(model.escape('owner')).toJSON().username %>,  Type: <%= model.escape('chatroom_type') %>
                        </div>
                    </td>
                    <td class="tab-content-list-join-unjoin">
                        <form action="/api/chatrooms/<%= model.escape('id') %>/unjoin" type="submit" method="post"
                            class="unjoin active" data-remote="true"><input type="hidden" name="_method" value="put">
                            <input type="submit" value="unjoin" class="tab-content-list-unjoin-link">
                            <input type="hidden" name="authenticity_token"
                                value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                        </form>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>
    </div>
</div>