<div>
    <ul class="tabs">
        <li><a href="#chatrooms/public">Public chatrooms</a></li>
        <li class="active"><a href="#chatrooms/private">Private chatrooms</a></li>
    </ul>
    <div class="tabs-content">
        <div class="tab-content active" id="private">
            <table class="tab-content-list">
                <% Transcendence.chatrooms.each(function(model) { %>
                <% if (model.escape('chatroom_type') == "private") { %>
                <tr class="tab-content-list-options" id="chatroom_<%= model.escape('id') %>">
                    <td class="tab-content-list-image">
                        <% if (model.escape('banned').includes(Transcendence.current_user.id)) { %>
                        <img style="width: 20px; height: 20px; vertical-align: middle" src="/assets/block.png">
                        <% } else if (!model.escape('members').includes(Transcendence.current_user.id) && Transcendence.current_user.id != model.escape('owner')) { %>
                        <img style="width: 20px; height: 20px; vertical-align: middle" src="/assets/padlock.png">
                        <% } else { %>
                        <img style="width: 20px; height: 20px; vertical-align: middle" src="/assets/check.png">
                        <% } %>
                    </td>
                    <td onclick='document.location = "#chatrooms/<%= model.escape(`id`) %>";'>
                        <div class="tab-content-list room"><%= model.escape('name') %></div>
                        <div class="tab-content-list owner">Owner: <a href="/#users/<%= model.escape('owner') %>"
                                class="tab-content-list-link"><%= Transcendence.users.get(model.escape('owner')).toJSON().username %></a>
                        </div>
                    </td>
                    <td>
                        <% if (!model.escape('members').includes(Transcendence.current_user.id) && Transcendence.current_user.id != model.escape('owner')) { %>
                        <% join = "active"; unjoin = "" %>
                        <% } else { %>
                        <% join = ""; unjoin = "active" %>
                        <% } %>
                        <div class="tab-content-list-join <%= join %>" id="tab-content-private"
                            data-id="<%= model.escape('id') %>">
                            <input type="submit" value="join" class="tab-content-list-join-link">
                        </div>
                        <form action="/api/chatrooms/<%= model.escape('id') %>/unjoin" type="submit" method="post"
                            class="tab-content-list-unjoin <%= unjoin %>" data-remote="true">
                            <input type="submit" value="unjoin" class="tab-content-list-unjoin-link">
                            <input type="hidden" name="authenticity_token"
                                value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                        </form>
                        <div id="password-modal-<%= model.escape('id') %>" class="modal">
                            <div class="modal-content">
                                <span id="close" class="close-<%= model.escape('id') %>">&times;</span><br />
                                <div class="modal-header">
                                    <img class="padlock-image" src="/assets/padlock.png"><br />
                                    <%= model.escape('name') %> is locked by a password
                                </div>
                                <form action="/api/chatrooms/<%= model.escape('id') %>/login" type="submit"
                                    method="post" data-remote="true">
                                    <div class="modal-body">
                                        <input type="password" placeholder="Enter password..."
                                            name="chatroom[chatroom_password]"><input
                                            type="submit" value="Join" class="button-password">
                                        <input value="<%= model.escape('id') %>" type="hidden"
                                            name="chatroom[chatroom_id]">
                                        <input type="hidden" name="authenticity_token"
                                            value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                <% } %>
                <% }) %>
            </table>
        </div>
    </div>
</div>