<div>
    <ul class="tabs">
        <li><a href="#chatrooms/public">Public chatrooms</a></li>
        <li class="active"><a href="#chatrooms/private">Private chatrooms</a></li>
        <li><a href="#chatrooms/my_chatrooms">My chatrooms</a></li>
    </ul>
    <div class="tabs-content">
        <div class="tab-content active" id="private">
            <table class="tab-content-list">
                <% if (chatrooms.length == 0) { %>
                    <tr>
                        <td>There are no private chatrooms !</td>
                    </tr>
                <% } %>
                <% chatrooms.forEach(function(model) { %>
                <tr class="tab-content-list-options" id="chatroom_<%= model.toJSON().id %>">
                    <td class="tab-content-list-image">
                        <% if (model.toJSON().banned.includes(Transcendence.current_user.id)) { %>
                        <img style="width: 20px; height: 20px; vertical-align: middle" src="/assets/block.png">
                        <% } else if (!model.toJSON().members.includes(Transcendence.current_user.id) && Transcendence.current_user.id != model.toJSON().owner) { %>
                        <img style="width: 20px; height: 20px; vertical-align: middle" src="/assets/padlock.png">
                        <% } else { %>
                        <img style="width: 20px; height: 20px; vertical-align: middle" src="/assets/check.png">
                        <% } %>
                    </td>
                    <td class="tab-content-list-main" onclick='document.location = "#chatrooms/<%= model.toJSON().id %>";'>
                        <div class="tab-content-list room"><%= model.toJSON().name %></div>
                        <div class="tab-content-list owner">Owner: <%= Transcendence.users.get(model.toJSON().owner).toJSON().username %>
                        </div>
                    </td>
                    <td class="tab-content-list-join-unjoin">
                        <% if (!model.toJSON().members.includes(Transcendence.current_user.id) && Transcendence.current_user.id != model.toJSON().owner) { %>
                        <% join = "active"; unjoin = "" %>
                        <% } else { %>
                        <% join = ""; unjoin = "active" %>
                        <% } %>
                        <div class="join <%= join %>" id="tab-content-private"
                            data-id="<%= model.toJSON().id %>"
                            onclick='$("#password-modal-<%= model.toJSON().id %>").show()'>
                            <input type="submit" value="join" class="tab-content-list-join-link">
                        </div>
                        <form action="/api/chatrooms/<%= model.toJSON().id %>/unjoin" type="submit" method="post"
                            class="unjoin <%= unjoin %>" data-remote="true"><input type="hidden" name="_method" value="put">
                            <input type="submit" value="unjoin" class="tab-content-list-unjoin-link">
                            <input type="hidden" name="authenticity_token"
                                value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                        </form>
                        <div id="password-modal-<%= model.toJSON().id %>" class="modal">
                            <div class="modal-content">
                                <span id="close" class="close-<%= model.toJSON().id %>"
                                    onclick='$("#password-modal-<%= model.toJSON().id %>").hide()'>&times;</span><br />
                                <div class="modal-header">
                                    <img class="padlock-image" src="/assets/padlock.png"><br />
                                    <%= model.toJSON().name %> is locked by a password
                                </div>
                                <form action="/api/chatrooms/<%= model.toJSON().id %>/login" type="submit"
                                    method="post" data-remote="true">
                                    <div class="modal-body">
                                        <input type="password" placeholder="Enter password..."
                                            name="chatroom[chatroom_password]"><input type="submit" value="Join"
                                            class="button-password">
                                        <input value="<%= model.toJSON().id %>" type="hidden" name="chatroom[chatroom_id]">
                                        <input type="hidden" name="authenticity_token"
                                            value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>
    </div>
</div>