<div>
    <ul class="tabs">
        <li class="active"><a href="#chatrooms/public">Public chatrooms</a></li>
        <li><a href="#chatrooms/private">Private chatrooms</a></li>
        <li><a href="#chatrooms/my_chatrooms">My chatrooms</a></li>
    </ul>
    <div class="tabs-content">
        <div class="tab-content active" id="public">
            <table class="tab-content-list">
                <% if (chatrooms.length == 0) { %>
                    <tr>
                        <td>There are no public chatrooms !</td>
                    </tr>
                <% } %>
                <% chatrooms.forEach(function(model) { %>
                <tr class="tab-content-list-options" id="chatroom_<%= model.escape('id') %>">
                    <td class="tab-content-list-image">
                        <% if (model.escape('banned').includes(Transcendence.current_user.id)) { %>
                        <img style="width: 20px; height: 20px; vertical-align: middle" src="/assets/block.png">
                        <% } else { %>
                        <img style="width: 20px; height: 20px; vertical-align: middle" src="/assets/check.png">
                        <% } %>
                    </td>
                    <td class="tab-content-list-main" onclick='document.location = "#chatrooms/<%= model.escape(`id`) %>";'>
                        <div class="room"><%= model.escape('name') %></div>
                        <div class="owner">Owner: <%= Transcendence.users.get(model.escape('owner')).toJSON().username %>
                        </div>
                    </td>
                    <td class="tab-content-list-join-unjoin">
                        <% if (!model.escape('members').includes(Transcendence.current_user.id) && Transcendence.current_user.id != model.escape('owner')) { %>
                        <% join = "active"; unjoin = "" %>
                        <% } else { %>
                        <% join = ""; unjoin = "active" %>
                        <% } %>
                        <form action="/api/chatrooms/<%= model.escape('id') %>/join" type="submit" method="post"
                            class="join <%= join %>" data-remote="true"><input type="hidden" name="_method" value="put">
                            <input type="submit" value="join" class="tab-content-list-join-link">
                            <input type="hidden" name="authenticity_token"
                                value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                        </form>
                        <form action="/api/chatrooms/<%= model.escape('id') %>/unjoin" type="submit" method="post"
                            class="unjoin <%= unjoin %>" data-remote="true"><input type="hidden" name="_method" value="put">
                            <input type="submit" value="unjoin" class="tab-content-list-unjoin-link">
                            <input type="hidden" name="authenticity_token"
                                value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                        </form>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>
    </div>
</div>