<div id="main-guilds">
    <table>
        <% Transcendence.guilds.each(function(temp) { %>
        <% if (temp.toJSON().id == Transcendence.current_user.toJSON().guild) { %>

        <% if (Transcendence.current_user.toJSON().id == temp.toJSON().owner) { %>
        <div class="create-chatroom">
            <form action="/api/guilds/<%= temp.toJSON().id %>" method="post" data-remote="true" id="join_guild" class="delete-guild">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="delete">Delete</button>
            </form>
        </div>
        <br></br>
        <% } %>
        <h1 class="name-guild"><%= temp.toJSON().name %></h1>
        <h1 class="anagram-guild"><b style="margin: auto;"><%= temp.toJSON().anagram %></b></p>
        <p class="points-guild"><b style="margin: auto;"><%= temp.toJSON().points %> Points</b></p>
        <div class="win-guild"><%= temp.toJSON().win %></div>
        <div class="loose-guild"><%= temp.toJSON().loose %></div>
        <br></br>
        <tr>
            <th colspan="5">Guilds</th>
        </tr>
        <% Transcendence.users.each(function(model) { %>
        <% if (model.toJSON().guild == Transcendence.current_user.toJSON().guild) { %>
        <tr class="create-chatroom">
            <td style="width:15%;"><img style="width:30px;height:30px;border-radius:50%" src="<%= model.toJSON().avatar %>"></td>
            <td onclick='document.location = "/#users/<%= model.toJSON().id %>"'><%= model.toJSON().username %></a></td>
            <td class="kicks-action">
                <% if ((temp.toJSON().owner == Transcendence.current_user.toJSON().id) || (model.toJSON().officer == "true")) { %>
                <% if ((model.toJSON().id != temp.toJSON().owner) && (model.toJSON().id != Transcendence.current_user.toJSON().id)) { %>
                <form action="/api/guilds/kick" method="post" data-remote="true" id="kick_id"
                    class="kick_form">
                    <button type="submit" class="delete">Kick</button>
                    <input type="hidden" name="current_id" value="<%= model.toJSON().id %>">
                    <input type="hidden" name="authenticity_token"
                        value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
                <% }} %>
            </td>
            <td class="create-chatroom">
                <% if (temp.toJSON().owner == Transcendence.current_user.toJSON().id) { %>
                <% if (model.toJSON().id != temp.toJSON().owner) { %>
                <% if (model.toJSON().officer == "false") { %>
                    <% var action = "promote" %>
                <% } else { %>
                    <% var action = "demote" %>
                <% } %>
                <form action="/api/guilds/<%= action %>" method="post" data-remote="true" id="<%= action %>_id"
                    class="<%= action %>_form">
                    <button type="submit" class="promote"><%= action %></button>
                    <input type="hidden" name="current_id" value="<%= model.toJSON().id %>">
                    <input type="hidden" name="authenticity_token"
                        value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
                <% }} %>
            </td>
        </tr>
        <% }})}}) %>
    </table>
</div>