<div id="guilds-list">
    <table>
        <tr>
            <th colspan="5">Guilds</th>
        </tr>
        <% Transcendence.guilds.each(function(model) { %>
        <tr class="guilds-list">
            <td style="width:15%;" onclick='document.location = "/#guilds/<%= model.toJSON().id %>"'><%= model.toJSON().name %></a></td>
            <td style="width:15%;font-size: 30px;font-family: Georgia, 'Times New Roman', Times, serif"><b><%= model.toJSON().anagram %></b></td>
            <td style="width:15%;font-size: 30px;font-family: Georgia, 'Times New Roman', Times, serif"><b><%= model.toJSON().points %></b></td> 
            <% if (Transcendence.current_user.toJSON().guild == null) { %>
            <td class="users-action">
                <form action="/api/guilds/join_guild" method="post" data-remote="true" id="join_guild" class="<%= model.toJSON().id %>">
                    <button type="submit" class="menu-option">Join</button>
                    <input value="<%= model.toJSON().id %>" type="hidden" name="guild_id">
                    <input value="<%= Transcendence.current_user.id %>" type="hidden" name="user_id">
                    <input type="hidden" name="authenticity_token"
                        value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
            </td>
            <% } %>
        </tr>
        <% }) %>
    </table>
</div>