<div id="users-index">
    <table>
        <tr>
            <th colspan="5">Guilds Ranking</th>
        </tr>
        <% Transcendence.guilds.each(function(model) { %>
        <tr class="users-list">
            <td style="width:15%;" onclick='document.location = "/#guilds/<%= model.toJSON().id %>"'><%= model.toJSON().name %></a></td>
            <td style="width:15%;font-size: 30px;font-family: Georgia, 'Times New Roman', Times, serif"><b><%= model.toJSON().anagram %></b></td>
            <td style="width:15%;font-size: 30px;font-family: Georgia, 'Times New Roman', Times, serif"><b><%= model.toJSON().points %></b></td> 
            <% if (Transcendence.current_user.toJSON().guild == null) { %>
            <td class="users-action">
                <form action="/api/guilds/join_guild" method="post" data-remote="true" id="join_guild" class="<%= model.toJSON().id %>">
                    <button type="submit" class="menu-option">Join</button>
                    <input value="<%= model.toJSON().id %>" type="hidden" name="guild_id">
                    <input value="<%= Transcendence.current_user.id %>" type="hidden" name="user_id">
                    <input type="hidden" name="authenticity_token"
                        value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
            </td>
            <% } %>
        </tr>
        <% }) %>
    </table>
</div>




<td class="kicks-action">
    <% if ((guild.owner == Transcendence.current_user.toJSON().id) || (model.toJSON().officer == "true")) { %>
    <% if ((model.toJSON().id != guild.owner) && (model.toJSON().id != Transcendence.current_user.toJSON().id)) { %>
    <form action="/api/guilds/kick" method="post" data-remote="true" id="kick_id"
        class="kick_form">
        <button type="submit" class="delete">Kick</button>
        <input type="hidden" name="current_id" value="<%= model.toJSON().id %>">
        <input type="hidden" name="authenticity_token"
            value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
    </form>
    <% }} %>
</td>
<td class="create-chatroom">
    <% if (guild.owner == Transcendence.current_user.toJSON().id) { %>
    <% if (model.toJSON().id != guild.owner) { %>
    <% if (model.toJSON().officer == false) { %>
    <form action="/api/guilds/promote" method="post" data-remote="true" id="promote_id"
        class="promote_form">
        <button type="submit" class="promote">Promote</button>
        <input type="hidden" name="current_id" value="<%= model.toJSON().id %>">
        <input type="hidden" name="authenticity_token"
            value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
    </form>
    <% }}} %>
</td>
<td class="create-chatroom">
    <% if (guild.owner == Transcendence.current_user.toJSON().id) { %>
    <% if (model.toJSON().id != guild.owner) { %>
    <% if ((model.toJSON().member == true) || (model.toJSON().officer == true)) { %>
        <form action="/api/guilds/demote" method="post" data-remote="true" id="demote_id"
            class="demote_form">
            <button type="submit" class="demote">Demote</button>
            <input type="hidden" name="current_id" value="<%= model.toJSON().id %>">
            <input type="hidden" name="authenticity_token"
                    value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        </form>
    <% }}} %>
</td>