<div id="main">
    <h1>
        <%= @chatroom.name %>
    </h1>

    <%= link_to 'Destroy', @chatroom, method: :delete, data: { confirm: 'Are you sure?' } %> | 
    <%= link_to 'Back', chatrooms_path %>

    <div>
        <div id="messages">
            <% @chats.each do |chat| %>
                <% if current_user == chat.user %>
                    <p class="sent"><%= chat.message %></p><br/>
                <% else %>
                    <p class="received"><%= chat.message %></p><br/>
                <% end %>
            <% end %>
        </div>

        <div id="send_message">
            <%= form_with(model: @chat, remote: true, local: false) do |form| %>
              <% if @chat.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

                  <ul>
                    <% @chat.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <%#= form.label :message %>
              <%= form.text_field :message, value: nil, placeholder: 'New message...', class: 'field', id: 'field', required: true %>
              <%= form.hidden_field :user_id, value: current_user.try(:id) %>

              <%= form.submit "Send message", class: 'button' %>

              <%= form.hidden_field :chatroom_id, as: :hidden %>
              <% #hidden fild for atribute chatroom_id so the value reaches the chats_controller once the form is submitted %>
            <% end %>
        </div>
    </div>
</div>
