<h1>
  <%= @chatroom.name %>
</h1>
<%= render 'chatrooms' %>

<% @chats.each do |chat| %>
  <p><div class="usr"><%= chat.user.username %>:</div><br/>
    <div class="msg"><%= chat.message %></div>
  </p><br/>
<% end %>
<div id="new_message" ></div>

<%= form_with(model: @chat, remote: true, local: false) do |form| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
        <% @chat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
    <%= form.hidden_field :user_id, value: current_user.try(:id) %>
  </div>

  <div class="actions">
    <%= form.submit "Send message" %>
  </div>

  <%= form.hidden_field :chatroom_id, as: :hidden %>
  <% #hidden fild for atribute chatroom_id so the value reaches the chats_controller once the form is submitted %>
<% end %>
