<div id="main-chats">
  <h1>
      <%= @chatroom.name %>
      Created by <%= @chatroom_owner.username %>
      Type: <%= @chatroom.chatroom_type %>
  </h1>

  <%= link_to 'Back', chatrooms_path(anchor: @chatroom.chatroom_type) %>
  <% if user_signed_in? && current_user.id == @chatroom.owner %>
  | <%= link_to 'Edit', edit_chatroom_path(@chatroom) %>
  | <%= link_to 'Destroy', @chatroom, method: :delete, data: { confirm: 'Are you sure?' } %>
  | <a id="link-to-new-owner">Leave <%= @chatroom.name %></a>
  <%= render 'new_owner', chatroom: @chatroom %>
  <% end %>
  <br/>
  <% if current_user == @chatroom_owner %>
    TEST OWNER
  <% end %>
  <% if @chatroom.admin.detect{ |e| e == current_user.id }  %>
    TEST ADMIN
  <% end %>
  <div id="room-content">
    <div id="messages">
        <%= render 'messages', chatroom: @chatroom %>
    </div>
    <div id="send_message">
      <%= form_with(model: @chat, remote: true, local: false) do |form| %>
        <% if @chat.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
            <ul>
              <% @chat.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <table>
          <tr>
            <td class="text"><%= form.text_field :message, value: nil, placeholder: 'New message...', autocomplete: :off, class: 'text-field', id: 'text-field', required: true %></td>
            <td class="button"><%= form.submit "Send", class: 'button-field' %></td>
          </tr>
        </table>
        <%= form.hidden_field :user_id, value: current_user.try(:id) %>
        <%= form.hidden_field :chatroom_id, as: :hidden %>
        <% #hidden field for atribute chatroom_id so the value reaches the chats_controller once the form is submitted %>
      <% end %>
    </div>
  </div>
</div>

<div id="flash-admin-message">
  <div class="flash-background">
    <div class="flash-header">
      <img class="flash-image" src="/assets/admin.png"><br/>
      You have been promoted admin of this chatroom!
    </div>
    <div class="flash-content">
      You can now mute and ban users from this chatroom.<br/><br/>
      <%= link_to @chatroom, class: "flash-button-link" do %><button class="flash-button">Continue</button><% end %>
    </div>
  </div>
</div>

<div id="flash-owner-message">
  <div class="flash-background">
    <div class="flash-header">
      <img class="flash-image" src="/assets/key.png"><br/>
      You are the new owner of this chatroom!
    </div>
    <div class="flash-content">
      You can now promote, mute and ban users from this chatroom.<br/><br/>
      <%= link_to @chatroom, class: "flash-button-link" do %><button class="flash-button">Continue</button><% end %>
    </div>
  </div>
</div>

<div id="flash-ban-message">
  <div class="flash-background">
    <div class="flash-header">
      <img class="flash-image" src="/assets/block.png"><br/>
      You have been banned from this chatroom!
    </div>
    <div class="flash-content">
      You have no longer access to this chatroom.<br/><br/>
      <%= link_to chatrooms_path, class: "flash-button-link" do %><button class="flash-button">Continue</button><% end %>
    </div>
  </div>
</div>

<%= content_tag :div, class: "current_user_id", data: { userid: @userid } do %>
<% end %>
<%= content_tag :div, class: "current_chatroom_id", data: { roomid: @roomid } do %>
<% end %>
<%= javascript_pack_tag 'Chatroom.js' %>
