<div id="users-index">
    <table>
        <tr>
            <th colspan="3">Members</th>
        </tr>
        <% Transcendence.users.each(function(model) { %>
        <tr class="users-list">
            <td style="width:15%;"><img style="width:30px;height:30px;border-radius:50%" src="<%= model.escape('avatar') %>"></td>
            <td onclick='document.location = "/#users/<%= model.escape(`id`) %>"'><%= model.escape('username') %></a></td>
            <td class="users-action">
                <form action="/api/private_rooms" method="post" data-remote="true" id="send-pm"
                    class="<%= model.escape('id') %>">
                    <button type="submit" class="menu-option">send PM</button>
                    <input value="<%= Transcendence.current_user.id %>" type="hidden" name="private_room[user1]">
                    <input value="<%= model.escape('id') %>" type="hidden" name="private_room[user2]">
                    <input type="hidden" name="authenticity_token"
                        value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
            </td>
        </tr>
        <% }) %>
    </table>
</div>